* {
    font-family: Arial, Helvetica, sans-serif;
}


.formDiv, .gamefield {
    display: flex;
    justify-content: center;
}

.form {
    text-align: center;
}

.information {
    display: flex;
    justify-content: space-around;
    border: solid 3px goldenrod;
    margin-top: 50px;
}
#usernameInfo, #turnInfo, #roleInfo {
    border: 1px red;
}


.float-child {
    width: 50%;
    float: left;
}  

.logs {
    text-align: right;
    overflow-y: scroll;
    height: 350px;
}

#role {
    text-align: center;
}

.roomName {
    display: flex;
    justify-content: center;
    text-align: center;
}

#logList {
    list-style-type: none;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 85px;
}
table {
    margin: 5px auto;
}
.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}